<div class="table-responsive">
  <div>
    <table class="table align-items-center table-dark">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Total de Avaliações para o Produto</th>
          <th scope="col">Média Geral das Avaliações do Produto</th>
          <th scope="col">Total das Avaliações do Produto por Mês</th>
          <th scope="col">Média das Avaliações do Produto por Mês</th>
        </tr>
      </thead>
      <tbody class="list">
        <tr>
          <td scope="col"><%= @data_to_dashboard[:count_opnions] %></td>
          <td scope="col"><%= decimal_round(@data_to_dashboard[:average_rating]) %></td>
          <td scope="col"><%= @data_to_dashboard[:count_opnions_last_3_months] %></td>
          <td scope="col"><%= decimal_round(@data_to_dashboard[:average_rating_last_3_months]) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>